# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variable files
.env

# Audio recordings
*.wav
*.mp3
*.txt
# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
